@import "config.scss";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none; }


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


* {
  margin: 0;
  padding: 0;
}

body {
  background: #333333;
  font-size: 0.625em;
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  position: relative;
}

.center-container {
  position: relative;
  top: 50%;
  left: 50%;
}

form {
}

.clearfix, .clear, .clearer {
  display: block;
  height: 1;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}
