/*
@font-face {
  font-family: 'headerfont';
  src: url('../font/teuton21pro-webfont.eot');
  src: url('../font/teuton21pro-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/teuton21pro-webfont.woff') format('woff'),
  url('../font/teuton21pro-webfont.ttf') format('truetype'),
  url('../font/teuton21pro-webfont.svg#Teuton21ProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
