/* line 1, ../sass/reset.scss */
* {
  outline-style: none;
}

/* line 2, ../sass/reset.scss */
h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em;
}

/* line 3, ../sass/reset.scss */
ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset {
  margin: 0;
  padding: 0;
}

/* line 4, ../sass/reset.scss */
input {
  margin: 0;
}

/* line 5, ../sass/reset.scss */
a img, :link img, :visited img {
  border: none;
}

/* line 6, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 7, ../sass/reset.scss */
th {
  text-align: left;
}

/* line 8, ../sass/reset.scss */
h1, h2, h3, h4 {
  font-size: 100%;
}

/* line 9, ../sass/reset.scss */
q:before, q:after {
  content: '';
}

/* line 10, ../sass/reset.scss */
pre, code {
  font: 115% monospace;
  font-size: 100%;
}

/* line 11, ../sass/reset.scss */
th {
  text-align: left;
}

/* line 12, ../sass/reset.scss */
cite, code, th, address {
  font-style: normal;
  font-weight: normal;
}

/* line 13, ../sass/reset.scss */
body {
  font-size: 62.5%;
}

/* line 14, ../sass/reset.scss */
table {
  border-spacing: 0;
  border: 0;
}

/* line 15, ../sass/reset.scss */
table td {
  padding: 0;
}
